.about-product-page-header {
  margin-bottom: 60px;
  // outline: 1px solid olivedrab;

  @include mq-min(768px) {
    margin-bottom: 68px;
  }
}

.about-product-page-header__inner {
  display: flex;
  align-items: center;
}

.about-product-page-header__logo {
  @include make-fit-object(1, 1, contain);

  width: 148px;
  flex-shrink: 0;
  margin-right: 32px;
  border: 1px solid $gray-234;
  border-radius: 4px;

  a {
    text-decoration: none;
  }

  @include mq-max(666px) {
    display: none;
  }
}

.about-product-page-header__title {
  // font-size: 28px;

  // @include mq-min(667px) {
  //   font-size: 60px;
  // }

  // @include mq-min(768px) {
  //   font-size: 40px;
  // }

  // @include mq-min(1024px) {
  //   font-size: 48px;
  // }

  // @include mq-min(1280px) {
  //   font-size: 60px;
  // }
}
