.back-link__holder {
  margin-bottom: 60px;
}

.back-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: $accent-color;
  outline: none;
}

.back-link__icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  fill: currentColor;
}

.back-link__text {
}
