.event-row {
  display: grid;
  gap: 60px;

  @include mq-min(768px) {
    grid-template-columns: 1fr 252px;
    gap: 40px;
  }

  @include mq-min(1024px) {
    grid-template-columns: 1fr 296px;
    gap: 60px;
  }

  @include mq-min(1280px) {
    gap: 80px;
  }
}

.event-row__content {
}

.event-row__aside {
  position: relative;

  &:empty {
    display: none;
  }

  @include mq-max(767px) {
    grid-row-start: 1;
  }
}
