.header-search {
  position: relative;
  color: $base-color;
}

.header-search__toggle {
  position: relative;
  z-index: 5;
}

.header-search__form-wrapper {
  position: absolute;
  left: 0;
  top: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  padding-left: 0;
  transition: 0.4s;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: left;
  visibility: hidden;
  will-change: transform, visibility;

  .is-header-search-showed & {
    transform: scaleX(1);
    pointer-events: all;
    visibility: visible;
  }
}

.header-search__form {
}
