.header-search {
  position: relative;
  color: $base-color;
}

.header-search__toggle {
  position: relative;
  z-index: 5;
  padding: 10px;
  border-radius: 50%;
  background-color: $gray-234;
  border: none;
  outline: none;
  transition: 0.25s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($gray-234, 4%);
  }

  &:active {
    opacity: 0.7;
  }
}

.header-search__toggle-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.header-search__form-wrapper {
  position: absolute;
  left: 0;
  top: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  padding-left: 0;
  transition: 0.4s;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: left;
  // opacity: 0;
  visibility: hidden;
  will-change: transform, visibility;

  .is-header-search-showed & {
    transform: scaleX(1);
    pointer-events: all;
    // opacity: 1;
    visibility: visible;
  }
}

.header-search__form {
  // margin-bottom: 20px;
}
