.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  margin-bottom: 80px;
  padding-top: 120px;
  padding-bottom: 60px;
  box-sizing: border-box;

  &--has-banner {
    color: #ffffff;
  }

  @include mq-min(1024px) {
    min-height: 320px;
  }
}

.page-header__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.page-header__title {
  margin-top: auto;
}
