.page-title {
  margin: 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;

  @include mq-min(768px) {
    line-height: 1;
    font-size: 60px;
  }

  @include mq-min(1024px) {
    font-size: 72px;
  }
}
