.partners-cards {
  @include clear-list();

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));


  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @include mq-min(1280px) {
    // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    // grid-gap: 8vmin 4vmin;
  }
}

.partners-cards__item {
}
