.partners-cards {
  @include clear-list();

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  @include mq-min(1024px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.partners-cards__item {
}
