.site-header-top {
  position: relative;
  z-index: 15;

  .white-header & {
    color: #ffffff;
  }

  .is-out-cover-opened & {
    color: $base-color;
  }
}

.site-header-top__container {
  display: flex;
  align-items: center;
}

.site-header-top__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-right: 80px;
  box-sizing: border-box;

  @include mq-min(768px) {
    padding-right: 52px;
  }

  @include mq-min(1024px) {
    padding-right: 12%;
  }
}

.site-header-top__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 80px;
  box-sizing: border-box;

  @include mq-min(768px) {
    padding-left: 52px;
  }

  @include mq-min(1024px) {
    padding-left: 12%;
  }
}

.site-header-top__search {
  margin-right: 16px;

  @include mq-max(767px) {
    display: none;
  }

  @include mq-min(1280px) {
    margin-right: 64px;
  }
}

.site-header-top__contact {
  flex-grow: 0.2;

  @include mq-max(767px) {
    display: none;
  }

  @include mq-min(1024px) {
    flex-grow: 0.5;
  }
}

.site-header-top__logo {
  position: absolute;
  left: 0;
  right: 0;
  flex-shrink: 0;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;

  body:not(.white-header) & {
    filter: invert(84%);
  }

  .is-out-cover-opened & {
    filter: invert(84%);
  }

  @include mq-min(768px) {
    width: 48px;
  }

  @include mq-min(1024px) {
    width: 160px;
  }
}

.site-header-top__links {
  flex-grow: 0.2;

  @include mq-min(1024px) {
    flex-grow: 0.5;
  }
}

.site-header-top__additional-menu-toggle {
  position: relative;
  flex-shrink: 0;
  margin-left: auto;

  @include mq-min(768px) {
    margin-left: 16px;
  }

  @include mq-min(1280px) {
    margin-left: 64px;
  }
}
